.btn-size-120 {
    width: 120px;
    margin-bottom: 10px;
}

.btn-size-90 {
    width: 90px;
    margin-bottom: 10px;
}

.btn-size-160 {
    width: 160px;
    margin-bottom: 2px;
}

.btn-size-90-margin-top {
    width: 90px;
    margin-top: 10px;
}

.btn-margin-top{
    margin-top: 10px;
}

.box {
    margin-top: 5px;
    margin-left: 15px;
}

.caixa-pesquisa {
    background-color: lightgray;
    margin-bottom: 15px;
    padding: 5%;
    border-radius: 10px;

}

table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
}

.labels tr td {
	background-color: #2cc16a;
	font-weight: bold;
	color: #fff;
}

.label tr td label {
	display: block;
}

.labels a{
    text-decoration: none;
	font-weight: bold;
	color: #fff;
}

.verMenos {
    background-color: #CD5C5C;
	font-weight: bold;
	color: #fff;
}

.verMenos a{
    text-decoration: none;
	font-weight: bold;
	color: #fff;
}

[data-toggle="toggle"] {
	display: none;
}


.select20em {
display: block;
margin: 0 auto;
margin-bottom: 10px;
width: 20em;
}

.text20em {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 20em;
}

.text10em{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 5em;
}